
db_host: 'localhost'
db_username: 'Database Username'
db_password: 'username_password'
db_name: 'database_name'
db_engine: 'django.db.backends.postgresql_psycopg2'
db_port: 'database_port'
debug: True
allowed_hosts: ['*']